<%= form_with(model: job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <div class="row">
      <div class="col">
        <%= f.label :company %>
        <%= f.text_field  :company, class: "form-control" %>
        <%= f.label :url %>
        <%= f.text_field  :url, class: "form-control" %>
        <%= f.label :cover_letter_url %>
        <%= f.text_field  :cover_letter_url, class: "form-control" %>
        <%= f.label :resume_url %>
        <%= f.text_field  :resume_url, class: "form-control" %>
        <%= f.label :submission_date %>
        <%= f.date_field  :submission_date, class: "form-control" %>
        <%= f.label :notes %>
        <%= f.text_area  :notes, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.label :title %>
        <%= f.text_field  :title, class: "form-control" %>
        <%= f.label :response_date %>
        <%= f.date_field :response_date, class: "form-control" %>
        <%= f.label :status %>
        <%= f.select :status, options_for_select(["Applied", "Rejected", "Other"]), {:prompt => 'Select One'}, {:class => 'form-select'}%>
        <%# <%= f.text_field  :status, class: "form-control" %>
      </div>
    </div>
    <%= f.submit class: 'btn btn-primary mt-3'%>
  </div>
<% end %>
