<div class="card job-card">
  <div class="card-body">
    <h5 class="card-title"><%=@job.title %></h5>
    <h6 class="card-subtitle"><%=@job.company %></h6>
    <div class="row">
      <div class="col-6">
        <div id="job-links" class="row mb-3">
          <div class="col-auto">
            <%=link_to @job.url do %>
              <i class="bi bi-file-post-fill me-1"></i>Job Post
            <% end %>
          </div>
          <div class="col-auto">
            <%=link_to @job.resume_url do %>
              <i class="bi bi-file-text-fill me-1"></i>Resume
            <% end %>
          </div>
          <div class="col-auto">
            <%=link_to @job.cover_letter_url do %>
              <i class="bi bi-envelope-fill me-1"></i>Cover Letter
            <% end %>
          </div>
        </div>
        <strong>Submitted:<br>
        </strong> <%= !@job.submission_date.nil? ? "#{@job.submission_date.strftime("%B %d, %Y")}" : 'Application not submitted (yet!)' %><br>
        <% if !@job.submission_date.nil? %>
          <strong>Response:<br>
          </strong> <%= !@job.response_date.nil? ? "#{@job.response_date.strftime('%B %d, %Y')}" : 'No Response (yet!)'%>
        <%end%>
      </div>
      <div class="col">
        <strong>Notes</strong>
        <% if @job.notes.any?%>
          <ul>
            <%@job.notes.limit(3).each do |note| %>
              <li><strong><%=note.created_at.strftime('%b %d, %Y') %>:</strong> <%=note.content%></li>
            <%end%>
          </ul>
        <% else %>
          <p>No notes yet!</p>
        <%end%>
        <%=link_to 'Add Note', new_job_note_path(@job)%>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6">
        <strong>Status: <%=@job.status %></strong>
      </div>
      <div class="col-6 text-end">
        <%=link_to 'Edit', edit_job_path(@job)%>
      </div>
    </div>
  </div>
</div>
