<div class="table-responsive">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Job Title</th>
        <th scope="col">Cover Letter</th>
        <th scope="col">Resume</th>
        <th scope="col">Notes</th>
        <th scope="col">Submission Date</th>
        <th scope="col">Response Date</th>
        <th scope="col">Status</th>
        <% if current_user %>
          <th scope="col">Edit</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr>
          <th scope="row" class="grid-col-1"><%= job.company %></th>
          <td class="grid-col-2"><%= link_to job.title, job.url %></td>
          <td>
            <%if job.cover_letter_url.start_with?('http')%>
              <a href="<%=job.cover_letter_url%>" target="_blank">Cover Letter</a>
            <%else%>
              N/A
            <%end%>
          </td>
          <td><a href="<%=job.resume_url%>" target="_blank">Resume</a></td>
          <td><% if job.notes.any?%>
          <ul>
            <%job.notes.limit(3).each do |note| %>
              <li><strong><%=note.created_at.strftime('%b %d, %Y') %>:</strong> <%=note.content%></li>
            <%end%>
          </ul>
        <% else %>
          <p>No notes yet!</p>
        <%end%>
                <%=link_to 'Add Note', new_job_note_path(@job)%>
</td>
          <td><%= job.submission_date %></td>
          <td>
            <% if job.response_date %>
              <%= job.response_date %>
            <%else%>
              No Response (yet!)
            <%end%>
          </td>
          <td><%= job.status %></td>
          <% if current_user %>
            <td><%= link_to "Edit", edit_job_path(job) %></td>
          <% end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
