<h1 class="display-1">Jobs</h1>
<h2>Applications This Week</h2>
<div class="row">
  <div class="col">
    <% if @jobs.recent.any? %>
      <%= render :partial => "job_grid", :locals => {:jobs => @jobs.recent} %>
    <% else%>
      <p>No applications this week! <%= link_to 'Get on it!', new_job_path %></p>
    <% end %>
  </div>
</div>
<hr>
<h2>Active Applications</h2>
<div class="row">
  <div class="col">
    <% if @jobs.any? %>
      <%= render :partial => "job_grid", :locals => {:jobs => @jobs.active} %>
    <% else%>
      <p>There are no jobs yet.</p>
    <% end %>
  </div>
</div>
<hr>
<h2>Inactive Applications</h2>
<div class="row">
  <div class="col">
    <% if @jobs.any? %>
      <%= render :partial => "job_grid", :locals => {:jobs => @jobs.inactive} %>
    <% else%>
      <p>There are no jobs yet.</p>
    <% end %>
  </div>
</div>
<br>
<% if current_user && current_user.admin %>
  <%= link_to 'New Job', new_job_path %>
<% end %>