<% if current_user %>
  <div class="row">
    <div class="col">
      <h2 class="display-3">Job Search Dashboard</h2>
      <hr>
      <div class="row">
        <div class="col">
          <strong class="app-counter-float"><%=pluralize(@jobs.this_week.count, 'application')%> this week!</strong>
          <h3>This Week</h3>
          <% if @jobs.this_week.any? %>
            <% @jobs.this_week.each do |job| %>
              <%= render :partial => "jobs/job_card", :locals => {:@job => job} %>
            <% end %>
          <% else%>
            <p><%= link_to 'Get on it!', new_job_path %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4 d-none d-lg-block">
      <h2 class="display-3">Quick Add</h2>
      <hr>
      <%= form_with url: "/jobs/quick-add", method: :get do |form| %>
        <%= form.label :url, "Job Posting URL:", class: "form-label" %>
        <%= form.text_field :url, class: 'form-control', placeholder: 'https://example.com' %>
        <%= form.submit "Quick Add", class: 'btn btn-primary mt-3' %>
      <% end %>
      <p class="text-muted small">Some of the larger sites will not allow for this method. Sorry.</p>
      <p class="text-muted small mt-3">
        Want to add jobs even more quickly?<br>
        <a data-bs-toggle="modal" data-bs-target="#bookmarkletModal">
          <strong >Add this bookmarklet!</strong>
        </a>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <strong class="app-counter-float"><%=pluralize(@jobs.last_week.count, 'application')%> last week!</strong>
      <h3>Previous Week</h3>
      <% if @jobs.last_week.any? %>
        <div class="row">
          <% @jobs.last_week.each do |job| %>
            <div class="col-md-6">
              <%= render :partial => "jobs/job_card", :locals => {:@job => job} %>
            </div>
          <% end %>
        </div>
      <% else%>
        <p><%= link_to 'Get on it!', new_job_path %></p>
      <% end %>
    </div>
  </div>
  <h2>Active Applications</h2>
  <%= button_to "Ignore old applications", jobs_ignore_old_jobs_path, method: :get, class: 'btn btn-warning' %>
  <div class="row">
    <div class="col">
      <% if @jobs.any? %>
        <%= render :partial => "jobs/job_grid", :locals => {:jobs => @jobs.active} %>
      <% else%>
        <p>There are no jobs yet.</p>
      <% end %>
    </div>
  </div>
  <hr>
  <h2>Inactive Applications</h2>
  <div class="row">
    <div class="col">
      <% if @jobs.any? %>
        <%= render :partial => "jobs/job_grid", :locals => {:jobs => @jobs.inactive} %>
      <% else%>
        <p>There are no jobs yet.</p>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Please <%= link_to "Sign up", '/users/sign_up' %> or <%= link_to "Sign in", '/users/sign_in'%> to continue.</p>
<% end %>
<!-- Modal -->
<div class="modal fade" id="bookmarkletModal" tabindex="-1" aria-labelledby="bookmarkletlabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookmarkletModalLabel">Add Quick Add Bookmarklet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Add this javascript to your bookmarks bar to easily add your current page as a job to the tracker!</p>
        <pre><code>javascript: (() => { window.open(`https://mireie-job-tracker.herokuapp.com/quick-add?url=${window.location.href}`, %27_blank%27)})();</code></pre>
        <%= image_tag "bookmarklet.png" %>
        <span class="small">Note: you must be logged into the job tracker for it to add properly.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
