<div class="row">
  <div class="col-auto">
    <h2 class="display-2">Recent Applications for <%=@user.full_name%></h2>
  </div>
  <div class="col text-end align-self-center">
    <% if current_user %>
    <p>Public Link: <%= link_to share_show_url %></p>
      <div class="d-flex gap-3 justify-content-end">
        <%= link_to 'Return to Dashboard', :root, class: 'btn btn-primary' %>
        <%= link_to 'Remove public share link', "/share/#{current_user.id}/remove", class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">This Week</a>
      </div>
    </nav>
    <% if @jobs.this_week.any? %>
      <div class="row">
        <% @jobs.this_week.each do |job| %>
          <div class="col-md-6">
            <%= render :partial => "jobs/job_card", :locals => {:@job => job} %>
          </div>
        <% end %>
      </div>
    <% else%>
      <p><%= link_to 'Get on it!', new_job_path %></p>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Previous Week</a>
      </div>
    </nav>
    <% if @jobs.last_week.any? %>
      <div class="row">
        <% @jobs.last_week.each do |job| %>
          <div class="col-md-6">
            <%= render :partial => "jobs/job_card", :locals => {:@job => job} %>
          </div>
        <% end %>
      </div>
    <% else%>
      <p><%= link_to 'Get on it!', new_job_path %></p>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">All Jobs</a>
  </div>
</nav>
    <strong><%=pluralize(@jobs.count, 'application')%> total.</strong>
    <% if @jobs.any? %>
      <%= render :partial => "jobs/job_grid", :locals => {:jobs => @jobs} %>
    <% end %>
  </div>
