<div class="row justify-content-center">
  <div class="col-auto">
    <h2>Welcome! Log into your account.</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
        <%= f.label :email %><br />
      </div>
      <div class=" form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
        <%= f.label :password %><br />
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.label :remember_me, class: "form-check-label" %>
          <%= f.check_box :remember_me, class: "form-check-input"%>
        </div>
      <% end %>
      <div class="actions text-center d-grid mt-3">
        <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
    <div class="mt-3"><%= render "devise/shared/links" %></div>
  </div>
</div>
