<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "Job Tracker" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container">
        <%if flash[:alert] %>
          <div class="alert alert-danger mt-3" role="alert">
            <%= flash[:alert] %>
          </div>
        <%end%>
        <%if flash[:notice] %>
          <div class="alert alert-success mt-3" role="alert">
            <%= flash[:notice] %>
          </div>
        <%end%>
        <div class="row">
          <div class="col mt-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render "layouts/footer"%>
  </body>
</html>
